<table class="table table-striped table-hover ">
<tr>
	<td>Date</td>
	<td>Time</td>
	<td>Species</td>
	<td>Weight</td>
	<td>Length</td>
	<td>Latitude</td>
	<td>Longitude</td>
	<td>Caught By</td>
</tr>
<% @user.fish.each do |fish|%>
	<%= render partial: "userfish", locals:{fish: fish}%>
<% end %>
</table>



