<h1>All Fish Caught</h1>
<table class="table table-striped table-hover ">
<tr>
	<td>Date</td>
	<td>Time</td>
	<td>Species</td>
	<td>Weight</td>
	<td>Length</td>
	<td>Latitude</td>
	<td>Longitude</td>
	<td>Caught By</td>
</tr>
<%= render @fishes %>
</table>