<div class="container">
	<h1>Add Fish</h1>

	<button type="button" id="reset-location-time" class ="btn btn-danger" >Reset Location, Date & Time</button>
	<br>

	<%= render 'form.html.erb' %>


	<%= javascript_tag do %>
		$(function(){
			getLocation();
			setDateTime(new Date());
		})
	<% end %>

</div>