<div class="col-md-6">
			<!-- Empty Div For Google Map -->
			<%= content_tag "div", id: "watch-map",  style: "width:600px; height:450px", class: "img-responsive" do%>
			<% end %>
</div>

<%= javascript_tag do %>
	google.maps.event.addDomListener(window, 'load', initialize);
<% end %>